.env
.env.local
node_modules
hamza_dev_db@localhost.session.sql
hamza_dev_db.session.sql
# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
