<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Confirm Email</title>
</head>

<body>
    <p></p>Dear Customer,</p>
    <br/>
    <p>You're just one step away from unlocking all the cool features of Hamza! This email is to ensure 
        that we got the correct email address and it belongs to you. Please confirm by clicking the following link:
    </p>
    <br />
<a href='<%-data.url%>'><%-data.url%></a>

    <br/><br/>
    <p>If you did not request this confirmation, no further action is required. However, 
        if you believe this is a mistake, feel free to contact the Hamza team.</p>
    <br /><br />
    Thanks, <br/>
    The Hamza Team

<div>
<img src="https://images.hamza.market/email/footer/logo.png">
</div>
<div>
<p>Hamza eCommerce Platform<br>
support@hamzamarket.com</p>
</div>
<div>
<img src="https://images.hamza.market/email/footer/fb-icon.png">
<img src="https://images.hamza.market/email/footer/x-icon.png">
<img src="https://images.hamza.market/email/footer/discord-icon.png">
<img src="https://images.hamza.market/email/footer/ig-icon.png">
</div>
<div>
<p>Read our <a href="https://blog.hamza.market/privacy/">Privacy Policy</a> and <a href="https://blog.hamza.market/tos/">Terms of Service.</a></p>

<p>You are receiving this email because you opted to verify your email address. 
    Don't want to receive these emails? <a href='https://hamza.market/account/notifications'>Unsubscribe here.</a></p>

<p>© 2024 Hamza. All rights reserved</p>
</div>
</body>

</html>