<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <p></p>Hi there,</p>
    <br/>
    <p>Thank you for confirming your account with Hamza.</p>
    <br />
    <p>We're pleased to let you know that your account has been successfully 
        verified and you can now start shopping on <a href="https://hamza.market">Hamza - The World's First Decom Marketplace</a>.</p>
    <p>In case you encounter any issues or need assistance, don't hesitate to drop us an email at <a
        href="mailto:support@hamza.market">support@hamza.market</a></p>
    <br />
    <p>Just a heads-up, if this confirmation email caught you by surprise, please give us a shout immediately.</p>
    <br /><br />
    Thanks, <br/>
    The Hamza Team
<div>
<img src="https://images.hamza.market/email/footer/logo.png">
</div>
<div>
<p>Hamza eCommerce Platform<br>
support@hamzamarket.com</p>
</div>
<div>
<img src="https://images.hamza.market/email/footer/fb-icon.png">
<img src="https://images.hamza.market/email/footer/x-icon.png">
<img src="https://images.hamza.market/email/footer/discord-icon.png">
<img src="https://images.hamza.market/email/footer/ig-icon.png">
</div>
<div>
<p>Read our <a href="https://blog.hamza.market/privacy/">Privacy Policy</a> and <a href="https://blog.hamza.market/tos/">Terms of Service.</a></p>

<p>You are receiving this email because you opted to verify your email address. 
    Don't want to receive these emails? <a href='https://hamza.market/account/notifications'>Unsubscribe here.</a></p>

<p>© 2024 Hamza. All rights reserved</p>
</div>
</body>

</html>